@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-bottom: 10px;
}

.header p {
    font-size: 3rem;
    font-style: italic;
    color: white;
}

#changeGrid {
    position: absolute;
    right: 100px;
    font-family: 'Chakra Petch', sans-serif;;
    padding: 0.3rem;
    border: 1px solid black;
}

.grid {
    height: 800px;
    width: 800px;
    padding: 0.1rem;
    border: 1px solid black;
    display: grid;
    place-items: stretch;
}

.square {
    border: 1px solid black;
}
